body {
  background-color: #fff;
}
#thead-th {
  background-color: #4a45cf;
  color: #fff;
}

#tbody-tb {
  background-color: #dcd6f5;
}

#table-hw {
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px solid black;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

#myForm {
  margin: auto;
  width: 70%;
}
td,
th {
  border: 1px solid black;
  padding: 10px 10px;
  text-align: center;
}

.line {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

#Q2 {
  margin-left: 600px;
}

#ordered-list,
#unordered-list {
  margin-left: 50px;
}

#Q3 {
  margin-left: 650px;
}
